ul{
    display:none;
}
.logo h1{
    position: relative;
    left: -10px;
}
.menu{
    display: block;
    position: relative;
    left: 50px;
}
.menu div{
    width:30px;
    height: 3px;
    background:#fff;
    margin: 6px;
    border:none;
}
#btn{
    position: relative;
    left:10px;
    padding: 8px 12px;
}